<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Smart Lock</title>
  <link href="log.css" rel="stylesheet" type="text/css" />
  <link href="../scrollbar.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="../Mo.png">
</head>

<body>
  <a href="/" target="_self"><img id="back" src="back.png"/></a>
  <div id="wrap">
    <table id="log">
      <thead id="header">
        <tr>
          <th style="width: 20%">Date</th>
          <th style="width: 20%">Time</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody id="events"></tbody>
    </table>
  </div>
  <script src="log.js"></script>
</body>

</html>